* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, ul {
    padding: 20px;
}

h1,
input {
    margin-bottom: 10px;
}

.input-list {
    padding: 10px;
}

.button-container {
    margin-bottom: 30px;
}

button {
    padding: 10px;
    cursor: pointer;
}

.list-container {
    display: flex;
    gap: 40px;
}


